pytest>=8.0
streamlit>=1.0.0
openai>=1.0.0
markdown2>=2.4.0
google-cloud-storage>=2.0.0
flask>=3.0.0
flask-sqlalchemy>=3.0.0
flask-login>=0.6.0
flask-bcrypt>=1.0.4
flask-migrate>=4.0.0
flask-mail>=0.10.0
flask-wtf>=1.2.0
psycopg2-binary>=2.9.0
apscheduler>=3.10.0
python-dotenv>=1.0.0
wtforms>=3.1.0
